html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    align-items: center;
}

.photograph-header img {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    object-fit: cover;
}

.photograph-portrait {
    padding-top: 50px;
    padding-right: 50px;
    width: 250px;
    height: 250px;

}

.photograph-presentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-left: 40px;
} 

#name {
    color: #D3573C;
    font-size: 40px;
}

#city, #country {
    font-size: 20px;
    color: #901C1C;
} 

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: auto;

    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    color: black;
    background-color: #DB8876;
}

.menu_burger {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    margin: 0 100px;
}

#menu-select {
    padding: 15px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #901C1C;
}

#menu-select option {
    margin: 15px;
    border-bottom: 1px solid white;
}

#media_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 114px;
    justify-content: space-between;
    padding-top: 60px;
    margin: 0 100px;
    margin-bottom: 100px;
    height: auto;
}

.media_card {
    width: 300px;
    height: auto;
    max-height: 400px;
}

.media_card img, video {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media_card video {
    z-index: 1;
}

.media_card i {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #901C1C;
}


.TitleLikes_media_card {
    display: flex;
    justify-content: space-between;
}

.TitleLikes_media_card p {
    font-size: 18px;
    color: #901C1C;
}

.bloc_likes {
    display: flex;
    gap: 15px;
}

#bloc_price {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    right: 70px;
    z-index: 2;
    background-color: #DB8876;
    width: 25%;
    height: 65px;
}

.group-likeHeart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.photog_price {
    display: flex;
    align-items: center;
}

/* _______________________________________________________________________________ */

main .lightBox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    z-index: 100;
}

main .lightBox .whiteBox {
    display: block;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 500px;
    background: white;
    z-index: 1;
} 

main .lightBox .x {
    margin-left: 95%;
    font-size: 60px;
    font-weight: bolder;
    color: #901C1C;
    cursor: pointer;
}

main .side {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    font-size: 60px;
    font-weight: bolder;
    color: #901C1C;
    cursor: pointer;    
}

main .lightBox img {
    position: absolute;
    
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 90%;
    object-fit: cover;
}

main .lightBox video {
    position: absolute;
    
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 90%;
    object-fit: cover;
}



/* _______________________________________________________________________________ */

#contact_modal {
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;    
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.contact_buttonForm {
    font-size: 20px;
    font-weight: bold;
    color: white;
    
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    height: 200px;
}

.error {
    padding-top: 8px;
    color: red;
    font-size: 20px;
}